@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary-fixed: #ffdad8;
  --color-surface-container: #eeeeef;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-highest: #e2e2e3;
  --color-surface-container-low: #f3f3f4;
  --color-surface-variant: #e2e2e3;
  --color-on-surface: #1a1c1d;
  --color-on-surface-variant: #5c403f;
  --color-primary: #9e001f;
  --color-primary-container: #c8102e;
  --color-on-primary: #ffffff;
  --color-secondary-container: #fcd400;
  --color-on-secondary-container: #6e5c00;
  --color-inverse-surface: #2f3132;

  /* Spacing */
  --spacing-margin-desktop: 40px;
  --spacing-margin-mobile: 16px;
  --spacing-stack-md: 16px;
  --spacing-stack-lg: 32px;
  --spacing-gutter: 24px;
  --spacing-container-max: 1200px;

  /* Font Families */
  --font-display-lg: "Inter", sans-serif;
  --font-headline-lg: "Inter", sans-serif;
  --font-headline-md: "Inter", sans-serif;
  --font-body-lg: "Inter", sans-serif;
  --font-body-md: "Inter", sans-serif;
  --font-label-md: "Inter", sans-serif;
  --font-caption: "Inter", sans-serif;
}
